@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: "Open sans", sans-serif;
}


    /* background-color: #f0f3f4; */
body{
    background-image: url("Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.box-area{
    width: 950px;
    height: 430px;
}

.right-box{
    background-color:#a6a6a6;

}
.button{
    padding: 4px 45px;
    border-radius: 0px;
}